@import "tailwindcss";

:root {
  --primary: #fe5d26;
  --secondary: #f2c078;
  --background: #faedca;
  --hover: #c1dbb3;
}

body {
  background: var(--background);
}

.main-container {
  width: min(100% - 25px, 1400px);
  margin: auto;
}

.big-text {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: bold;
}
.catch-phrase {
  font-size: clamp(1rem, 3vw, 2rem);
  color: #fff;
}
.form-heading {
  font-size: clamp(1.5rem, 3vw, 2.2rem);
  font-weight: 600;
}

.form-container {
  width: min(100% - 25px, 500px);
}

.chat-box {
  height: 350px;
  width: 320px;
  background: #fff;
  position: fixed;
  bottom: 0;
  right: 2%;
}
